


.nav_links ul {
   list-style: none;
   background-color: #810d7d;
   padding: 0px;
   margin: 0px;
}
.nav_links li{
   display: inline-block;
   padding: 0px 20px;
   background-color: #d4efde;
}
.nav_links li a {
transition: all 0.3s ease 0s ;

}
.nav_links li a  :hover {
   color: #558c6a

}




header{
   display: -moz-box;
   justify-content: space-between;
   align-items: center;
   text-align: center;

}


 
 h3{
   text-align: center;
   text-decoration: wavy;
   background-color: rgb(203, 193, 177);
   padding: 0px;
   margin: 23px;
   overflow: hidden;

 }
 
 Login-Box {
   background: #fff;
   padding:  30px 120px;
   width: 550px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   border-radius: 10px;
 }                          
 h2{
    text-align: center;
 }
 button img{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    
    
    
 }
 image button{
    display: block;
    align-self: center;
    
    
 }
 .Company{
    background: transparent;
    width: 100%;
    align-content: center;
    justify-content: center;
    display: flexbox;
    padding: 10px ;
 }
.logo box{
   text-align: center;
   text-decoration: underline;
}
:placeholder-shown{
   text-align: center;
   background-color: rgb(250, 235, 250);

}
body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: transparent;

}
form{
   width: 260px;
   height: 260px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px 30px;
   gap: 20px;
   position: relative;
   box-shadow: 0 0 20px rgba(red, green, blue, alpha);
   border-radius: 15px;

}
title{
   font-size: 18px;
   color: rgb(111, 118, 152);
    font-weight: 700;



}
.text{
   font-size: 12px;
   line-height: 17px;
   text-align: center;
}

.inputContainer{
   width: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 13px;

}
.inputContainer input{
   background: #20cc76;
   width: 40px;
   height: 40px;
   text-align: center;
   border: none;
   outline: name;
   border-radius: 7px;
   caret-color: rgb(10, 10, 10);
   font-size: 16px;
   font-weight: 600;
}

.verifyBtn{
   width: 200px;
   height: 40px;
   border: none;
   cursor: pointer;
}

.username{
   text-align: center;
   border-radius: 35px;
   
}
.Gender{
   text-align: center;
   text-overflow: clip;
}
.dateofbirth{
   text-align: center;
}
.Age{
   text-align: center;
}


.image2{
text-align: center;
}
.problem{
   text-align: center;
}

h1{
   text-align: center;
   text-overflow: clip;
   text-shadow: #15dd5e;
   border: #732771;
   background-color: #965e94;
}
.image0{
   text-align: center;
}
label{
   background-color: #e0d5d8;
   text-align: center;
}
button{
   background-blend-mode: color;
}
.title{
   text-align: center;
   background-color: #947c93;
}
.text{
   background-color: #c5b2c4;
   text-align: center;
}
.image5{
   text-align: center;
}
h3{
   text-align: center;
   background-color: #efc6ed;
}
h4{
   text-align: center;
   background-color: #c748c3;
}